.paginationContainer {
    display: flex;
    max-width: 342px;
    height: 20px;
    align-items: center;
    margin: 43px auto;
    font-family: 'Archivo', serif;
    font-style: normal;
    font-size: 18px;
    line-height: 20px;
    justify-content: space-around;
}

.paginationCursor, .paginationItem {
    cursor: pointer;
}

.paginationItem:not(:last-of-type) {
    margin: 0 18px;
}

.paginationDisable {
    color: #6e798c;
}