.rateContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: auto;
}

.rateItemsContainer {
    display: flex;
    align-items: center;
    min-width: 143px;
}

.rateItemsContainer:not(:first-of-type) {
    padding: 23px 0;
}

.icon {
    max-height: 24px;
    margin-right: 13px;
    display: flex;
    align-items: center;
}

