html, body, ul, li, p, h1, h2, h3, span, input, img, div, main, a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  border: none;
  vertical-align: baseline;
  outline: none;
}

* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 100vw;
}

#root {
  height: 100%;
  width: 100%;
}